:root {
  --blue-color: #2196f3;
  --logo-black: #000;
  --bg-color-team: #f5f4fa;
  --bg-color: #2f303a;
  --white-color: #fff;
  --primary-text-color: #212121;
  --text-color: #757575;
}

body {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

/* HEADER */
/* logo */
.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--blue-color);
  text-decoration: none;
}

.logo-black {
  color: var(--logo-black);
}

/* nav-list */
.nav-link,
.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.nav-link {
  color: inherit;
}

/* contact-list */
.contact-link {
  color: var(--text-color);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--blue-color);
}

/* MAIN */

/* hero */
.hero {
  background-color: var(--bg-color);
  color: var(--white-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn,
.filter-btn:hover {
  font-size: 16px;
  text-align: center;
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* features */
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.71;
  color: var(--text-color);
}

/* about */

/* team */
.team {
  background-color: var(--bg-color-team);
}

.team-heading,
.team-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-heading {
  font-weight: 500;
}

.team-description {
  color: var(--text-color);
}

/* FOOTER */
.footer {
  background-color: var(--bg-color);
}

.logo-white {
  color: var(--white-color);
}

.adres-text {
  font-style: normal;
  line-height: 1.71;

  color: var(--white-color);
}

.address-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--blue-color);
}

/* MAIN PORTFOLIO */

/* filter */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

/* gallary */

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
