html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --blue-color: #2196f3;
  --btn-hover-color: #188ce8;
  --btn-filter-color: #f5f4fa;
  --logo-black: #000;
  --bg-color-team: #f5f4fa;
  --bg-color: #2f303a;
  --white-color: #fff;
  --primary-text-color: #212121;
  --text-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* RESET */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* UTILITS */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */
/* logo */
.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--blue-color);
}

.logo-black {
  color: var(--logo-black);
}

/* nav-list */
.main-nav,
.site-nav,
.nav-list,
.contact-list {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 93px;
}

.nav-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.nav-link {
  color: inherit;
}

/* contact-list */
.contact-list {
  margin-left: auto;
}

.contact-link {
  color: var(--text-color);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--blue-color);
}

.site-nav .nav-link.current {
  color: var(--blue-color);
}

/* MAIN */

/* hero */
.hero {
  background-color: var(--bg-color);
  color: var(--white-color);
}

.hero .indent {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: 1px solid var(--blue-color);
  border-radius: 4px;

  cursor: pointer;
}

.hero-btn,
.filter-btn:hover {
  font-size: 16px;
  text-align: center;
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* features */
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.71;
  color: var(--text-color);
}

/* about */

/* team */
.team {
  background-color: var(--bg-color-team);
}

.team-heading,
.team-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-heading {
  font-weight: 500;
}

.team-description {
  color: var(--text-color);
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color);
}

/* logo */
.site-logo.logo {
  display: block;
  margin-bottom: 20px;
}

.logo-white {
  color: var(--white-color);
}

/* adress */
.adress-text {
  font-style: normal;
  line-height: 1.71;

  color: var(--white-color);
}

.adress-text:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  display: block;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--blue-color);
}

/* MAIN PORTFOLIO */

/* filter */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

/* gallary */

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
